@font-face {
    font-family: 'Acumin Pro';
    src: local('Acumin Pro'), url(../typefaces/acumin-pro/AcuminProBlack.otf) format('opentype');
}

@font-face {
    font-family: 'Inovato';
    font-weight: normal;
    font-style: normal;
    src: local('Inovato'), url(../typefaces/inovato/Inovato-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Inovato';
    font-weight: bold;
    font-style: normal;
    src: local('Inovato'), url(../typefaces/inovato/Inovato-Bold.otf) format('opentype');
}