#mainHeaderContainer {
    background: #151623;
    color: #EFEFEF !important;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#mainHeaderContainer .menu {
    height: 72px;
}

#mainHeaderContainer .hamburger {
    display: none;
}

#mainHeaderContainer > div {
    margin: 0 auto;
    max-width: 1170px;
}

#mainHeaderContainer > div ul {
    list-style-type: none;
    margin: 0;
}

#mainHeaderContainer > div ul li {
    display: inline;
    margin-right: 25px;
}

#mainHeaderContainer > div ul li p {
    display: inline-block;
}

#mainHeaderContainer a {
    text-decoration: none;
    color: #EFEFEF;
}

#mainHeaderContainer > div ul li a:hover {
    text-decoration: underline;
}

#mainHeaderContainer h1 {
    font-family: "Inovato";
    font-weight: normal;
    word-wrap: "break-word";
}


#mainHeaderContainer .logo {
    height: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

#mainHeaderContainer .logo2 {
    display: none;
}

#mainHeaderContainer .NavLinks {
    font-size: 14px;
}

#mainHeaderContainer .menuButton {
    color: white;
    height: 25px;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    float: left;
}


@media only screen and (max-width: 500px) {
    #mainHeaderContainer > div ul li {
        display: block;
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
    }

    #mainHeaderContainer .menu {
        height: 40vh;
    }

    #mainHeaderContainer {
        background: #1e1f31;
    } 

    #mainHeaderContainer .logo {
        display:none;
    }

    #mainHeaderContainer .logo2 {
        display: block;
        height: 70px;
        margin-top: 16px;
    }

}


