#mainHeaderContainer {
    background: #151623;
    color: #EFEFEF !important;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 72px;
    z-index: 2;
}

#mainHeaderContainer .hamburger {
    display: none;
}

#mainHeaderContainer > div {
    margin: 0 auto;
    max-height: 72px;
    max-width: 1170px;
}

#mainHeaderContainer > div ul {
    list-style-type: none;
    margin: 0;
}

#mainHeaderContainer > div ul li {
    display: inline;
    margin-right: 25px;
}

#mainHeaderContainer > div ul li p {
    display: inline-block;
}

#mainHeaderContainer a {
    text-decoration: none;
    color: #EFEFEF;
}

#mainHeaderContainer > div ul li a:hover {
    text-decoration: underline;
}

#mainHeaderContainer h1 {
    font-family: "Inovato";
    font-weight: normal;
    word-wrap: "break-word";
}


#mainHeaderContainer .logo {
    height: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

#mainHeaderContainer .NavLinks {
    font-size: 14px;
}


