#mainHeaderContainer {
    background: #4C4C4C;
    color: #EFEFEF !important;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#mainHeaderContainer .hamburger {
    display: none;
}

#mainHeaderContainer > div {
    margin: 0 auto;
    max-height: 112px;
    max-width: 960px;
    margin-top: 42px;
    margin-bottom: 42px;
}

#mainHeaderContainer > div ul {
    list-style-type: none;
    margin: 0;
}

#mainHeaderContainer > div ul li {
    display: inline;
    padding-right: 40px;
    padding-left: 40px;
}

li:hover {
    text-decoration: underline;
}

#mainHeaderContainer a {
    text-decoration: none;
    color: #EFEFEF;
}

#mainHeaderContainer h1 {
    font-family: "Inovato";
    word-wrap: "break-word";
}

@media only screen and (max-width: 960px) {
    #mainHeaderContainer .NavLinks {
        display: none;
    }

    #mainHeaderContainer .hamburger {
        display: initial;
    }

    p {
        margin-bottom: 0px;
    }

}